@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar&display=swap');
body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Mukta Malar', sans-serif;
  background-image: url('https://media.comicbook.com/2017/04/breaking-bad-988056.jpg');
  color: white;
}

main#container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 150px 1fr;
  grid-template-areas: "summary" "information";
}

ul {
  list-style-type: none;
}

ul#summary {
  grid-area: summary;
  margin: 50px 0px;
}

ul#summary li {
  margin: 30px 0px;
}

ul#summary li:hover {
  transform: scale(1.1);
}

div#information {
  grid-area: information;
}

img {
  width: 400px;
  height: auto;
  border-radius: 50px;
}

article#information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 40px 0 0 40px;
}

main#container ul#summary li {
  cursor: pointer;
}

span#name {
  font-size: 30px;
}

@media (max-width: 600px), (max-height: 850px) {
  article#information img {
    width: 35vh;
    height: auto;
    border-radius: 25px;
  }
}

@media (max-width: 500px) {

  article#information {
    margin: 50px 0 0 5px;
  }
  article#information div ul, ul#summary {
    padding-left: 20px;
  }
}

@media (max-width: 380px) {
  main#container {
    grid-template-columns: 120px 1fr;
  }
}

@media (max-width: 360px) {
  article#information img {
    width: 25vh;
  }
}