
:root {
  --bg-color: rgb(43, 43, 53);
  --bg-color-stronger: rgb(29, 29, 34);
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(41, 38, 38);
}

body, html {
  margin: 0;
  padding: 0;
}

div#container {
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

div#lights {
  display: flex;
  flex-direction: column;
  height: 84vh;
  width: 100vw;
  justify-content: space-around;
  margin: 15px;
}

div.light {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.light1 {
  background-color: red;
}

div.light2 {
  background-color: yellow;
}

div.light3 {
  background-color: green;
}

div.light4 {
  background-color: purple;
}

div.light5 {
  background-color: orange;
}

div.light6 {
  background-color: blue;
}

div.light7 {
  background-color: cyan;
}

div.row-lights {
  display: flex;
  justify-content: space-around;
}

div#container, div.row-lights {
  width: 100vw;
  display: flex;
  align-items: center;
}

input[type="color"] {
  position: relative;
  right: 100px;
  top: 50px;
  opacity: 0;
  pointer-events: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

div#buttons {
  position: absolute;
  width: 100vw;
  padding: 15px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

div#other-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
}

div#intensity {
  display: flex;
  flex-direction: column;
}

input#intensity-slider, input#intensity-num {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 2px;
  width: 60px;
}

input#intensity-num, select#num-rows {
  text-align: center;
  background-color: var(--bg-color-stronger);
  outline: none;
  border: none;
  color: white;
}

div#intensity span, div#buttons label span {
  color: white;
}

i#play-pause, i#reload {
  color: white;
  transition: color .2s;
}

i#play-pause {
  font-size: 45px;
}

i#reload {
  font-size: 35px;
}

label[for="num-rows"] {
  display: flex;
  flex-direction: column;
}

@media (max-width: 880px) {
  div.row-lights {
    width: initial;
    height: 80vh;
    flex-direction: column;
  }

  div#lights {
    flex-direction: row;
  }

  div.light {
    height: 50px;
    width: 50px;
  }
}

@media (max-width: 450px) {
  div.light {
    height: 30px;
    width: 30px;
  }
}

@media(max-height: 650px) {
  div#buttons {
    height: 50vh;
    position: initial;
  }

  div.light {
    min-height: 30px;
    min-width: 30px;
    margin: 5px;
  }
}